In [1]:
import sqlite3
import pandas as pd
import wget
import os

In [2]:
url = 'https://hitchmap.com/dump.sqlite'
filename = 'dump.sqlite'
if os.path.exists(filename):
        os.remove(filename)
filename = wget.download(url)

In [3]:
conn = sqlite3.connect('dump.sqlite')
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

              name
0           points
1       duplicates
2  sqlite_sequence
3    service_areas
4     road_islands
5             user
6      roles_users

# Points

In [4]:
points = pd.read_sql('select * from points', sqlite3.connect(filename))

In [6]:
points.tail()

,id,lat,lon,rating,country,wait,nickname,comment,datetime,reviewed,banned,ip,dest_lat,dest_lon,signal,ride_datetime,user_id,from_hitchwiki
66891,9221080452661861354,58.966135,16.195328,1.0,SE,NaN,None,"Little traffic, if you come from exploring Dju...",2025-05-07 09:16:23.947211,0,0,,NaN,NaN,None,None,63.0,NaN
66892,9221986451465595543,7.637025,-81.248750,2.0,PA,50.0,None,Not many cars going out of Santa Catalina. Man...,2025-02-28 02:22:27.417963,0,0,,7.995511,-81.309053,None,None,139.0,NaN
66893,9222207166032096419,49.757773,16.487293,5.0,CZ,15.0,None,Great ride to the direction of Brno,2025-06-12 08:27:39.438623,0,0,,49.302272,16.655145,thumb,None,2200.0,NaN
66894,9222326200104886148,41.930878,25.605655,5.0,BG,25.0,kyliann,Great spot for the border!,2024-12-09 19:36:11.527270,0,0,,41.718287,26.342468,None,,NaN,0.0
66895,9223367590593306727,47.604481,21.569467,3.0,HU,40.0,None,"Fast traffic, but maybe in the city it's better.",2025-08-06 19:52:55.530280,0,0,,47.663461,21.513558,thumb,2025-08-05T16:52,2892.0,NaN

# Duplicate Reports

In [6]:
duplicates = pd.read_sql('select * from duplicates', sqlite3.connect(filename))

In [7]:
duplicates

,id,from_lat,from_lon,to_lat,to_lon,accepted,reviewed,ip,datetime
0,1,51.404352,5.538128,51.404547,5.537270,0,0,,2024-06-04 12:50:01.864103
1,2,51.404627,5.542442,51.404547,5.537270,0,0,,2024-06-04 12:50:53.136541
2,3,52.302417,13.019185,52.302168,13.019915,0,0,,2024-06-04 13:28:37.130403
3,4,52.302286,13.019443,52.302168,13.019915,0,0,,2024-06-04 13:29:43.554062
4,5,52.301984,13.020387,52.302168,13.019915,0,0,,2024-06-04 13:30:04.085706
...,...,...,...,...,...,...,...,...,...
263,264,52.015139,5.649462,52.015421,5.649698,0,0,,2024-10-20 07:34:11.520366
264,265,41.927857,19.231782,41.927861,19.231265,0,0,,2024-11-26 16:45:07.013466
265,266,47.116320,-118.364425,47.117915,-118.363502,0,0,,2024-12-21 10:42:25.490480
266,267,58.906938,6.854584,60.472823,6.837174,0,0,,2025-01-09 16:01:23.433335
267,268,55.960946,-3.308711,55.961981,-3.313880,0,0,,2025-02-05 02:50:52.051449